*~
.DS_Store
*.bak
abbrev_defs
auto-save-list
semantic.cache
session.*
TAGS
tramp
url
ensime-git/
/elpa/archives/gnu/.#archive-contents
/elpa/archives/marmalade/.#archive-contents
/elpa/archives/gnu/#archive-contents#
/elpa/archives/marmalade/#archive-contents#
